<h1>Listing workout_posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workout_posts.each do |workout_post| %>
      <tr>
        <td><%= workout_post.title %></td>
        <td><%= workout_post.description %></td>
        <td><%= workout_post.user %></td>
        <td><%= link_to 'Show', workout_post %></td>
        <td><%= link_to 'Edit', edit_workout_post_path(workout_post) %></td>
        <td><%= link_to 'Destroy', workout_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout post', new_workout_post_path %>
